
/* src/pages/LandingPage.module.css */
.hero {
  background-color: var(--mantine-color-dark-8);
  padding: calc(var(--mantine-spacing-xl) * 2) 0;
  border-bottom: 1px solid var(--mantine-color-dark-5);
}

.title {
  color: var(--mantine-color-white);
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.description {
  max-width: 38rem;
  margin: var(--mantine-spacing-xl) auto;
  text-align: center;
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.finalCta {
    background-color: var(--mantine-color-dark-7);
    border-top: 1px solid var(--mantine-color-dark-5);
}