
/* src/layouts/AppLayout.module.css */

.header {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  
  [data-mantine-color-scheme] &[data-mantine-color-scheme='dark'] {
    border-bottom: 1px solid var(--mantine-color-dark-4);
  }
}

.userMenuButton {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  transition: background-color 100ms ease;

  &:hover {
    background-color: var(--mantine-color-gray-1);
  }

  [data-mantine-color-scheme] &[data-mantine-color-scheme='dark'] {
    &:hover {
      background-color: var(--mantine-color-dark-5);
    }
  }
}